.main__reading {
    width: 100vw;
    height: 100vh;
    
    background: linear-gradient(yellow, green, blue);
    filter: grayscale(40%);
    margin: 0 auto;
}

.main__reading__title{
    text-align: center;
    margin-top: 5rem;
}

.readings{
    width: 90%;
    margin: 0 auto;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin-top: 2rem;
}
  
.reading-link {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 32px;
}


.reading__subtitle1{
    color: #979797;
    text-align: center;
}

.reading__info1{
    color: #979797;
    text-align: center;
}

.reading__subtitle2{
    color: #979797;
    text-align: center;

}

.reading__info2{
    padding: 16px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    font-size: 1.2rem;
    color: #0e4f1f;
    background: #fbfafa;

}

.main__reading-answer{
    color: #979797;
    text-align: center;
    margin-top: 2rem;
}

@media (max-width: 40rem) {

    .main__reading__title{
        
        text-align: center;
        margin-top: 3rem;
    }

}