.reading__section {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 10px;
    padding: 16px;

}

.section-title {
    color: brown;
    text-align: center;
}

.section_block {
    background-color: #d5ffdc;
    padding: 8px;
    margin: 8px;
    display: inline-block;
    width: 29%;
    vertical-align: middle;
}

.section--highlighted {
    background-color: #19b84c;
    color: aliceblue;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);

}

.section__annotation {
    background-color: white;
    color: #19b84c;
    background: linear-gradient(orange, purple, brown);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.section__title {
    color: darkolivegreen;
    font-size: 1.3rem;
    text-align: center;
}

.section__features {
    list-style: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.section__feature {
    font-size: .9rem;
    text-align: left;

}



.section__button-container {
    width: 100%;
    text-align: center;
}

.section__button {
    background-color: brown;
    color: white;
    font-size: 1.2rem;
    border: 1.5px dolid #19b84c;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;

}

.section__button:hover,
.section__button:active {

    background-color: white;
    color: brown;

}

@media (max-width: 40rem) {
    .reading__section {
        margin-top: 5px;
        margin-bottom: 2px;
        background: linear-gradient(orange, purple, brown);
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
    }

    .section__button {
        font-size: 0.8rem;
    }

    .section_block {
        width: 28%;
        padding: 1px;
    }

    .section__title {

        font-size: 1.0rem;

    }

    .section_annotation {
        font-size: 0.8rem;
    }

    .section__feature {
        font-size: .60rem;
        text-align: left;

    }
}