.landing {

    font-synthesis: none;
    margin-top: 2px;
    margin-bottom: 2px;
    background: linear-gradient(orange, purple, brown);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;

}

.landing_content {
    list-style: none;
    width: 100%;
    color: rgb(249, 217, 12);
    text-align: left;
    vertical-align: middle;
}

.landing__image {
    margin-top: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    padding: 10px;
    bottom: 2px;
    position: relative;
    opacity: 0;
    transition: opacity 1s ease-in 0.5s;
}

.landing__items {
    margin: 0;
    padding: 0;
    list-style: none;

}

.landing__item {
    display: inline-block;
    margin: 0 16px;
}

.landing__item .landing__item-title {
    font-family: "Anton", sans-serif;
    font-size: 1.2rem;
    color: rgb(249, 217, 12);
    left: 3%;
    bottom: 2%;
}