
.backdrop{
    position: absolute;
    z-index: 100;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.children__committee{
    background: linear-gradient(red, green, blue);
    z-index: -1;
}

.children__committee .background{

    background-image: url('../../../images/uccbimages/children.jpeg');
    background-size: 96%;
    background-position: left 10% bottom 20%;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-attachment: fixed;
    filter: grayscale(40%);
    height: 900px;
    
   
   
}