@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.plans{
  text-align: center;
  width: vw;
  background-color: aliceblue;
  position: relative;

}


.button {
  background: #0e4f1f;
  color: white;
  font: inherit;
  border: 1.5px solid #0e4f1f;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: white;
  color: #0e4f1f;
}

.button:focus {
  outline: none;
}


.main_whoweare_main__title {


  color: black;
  font-size: 3rem;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'Roboto Mono', monospace;

}

.main_who_we_are_containers {
  text-align: center;
  width: 100%;
  background-color: aliceblue;
  margin-bottom: .5rem;
}

.who_we_are_container {
  width: 23%;
  float: left;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  background-color: aliceblue;
  height: 30rem;


}

.who_we_are{

  background: #295b31;
  text-align: justify;
  color: aliceblue;
  padding: 2rem;
  margin: 0.5rem 0;
  width: 100%;
  font-size: 1.5rem;

}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
  position: absolute;
  bottom: 5%;
  left: 3%;
  font-size: 1.6rem;
}



.plan {
  background: #046422;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem 0;
  width: 100%;
}

.plan--highlighted {
  background: #046422;
  color: white;
  margin: 10px;
  padding: 10px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        filter: grayscale(10%);
}

.plan__annotation {
  background: white;
  color: #19b84c;
  padding: 0.5rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
.plan_section_title{
  align-items: center;
  border-color: dotted red;
}

.section-title {
  color: black;
  text-align: center;
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
}

.plan--highlighted .plan__title {
  color: white;
}

.plan--highlighted .plan__price {
  color: #0e4f1f;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__feature {
  margin: 0.5rem 0;
}

@media (min-width: 40rem) {
  .plan__list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .plan {
    width: 30%;
    min-width: 13rem;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 28rem;
  }

  .plan--highlighted {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    height: 30rem;
    z-index: 50;
  }
}

#key-features {
  background: #ff1b68;
  margin-top: 5rem;
  padding: 1rem;
}

#key-features .section-title {
  color: white;
  margin: 2rem;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature__image {
  background: #ffcede;
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto;
  padding: 1.5rem;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
}

@media (min-width: 40rem) {
  .key-feature {
    width: 30%;
    max-width: 25rem;
  }

  .key-feature__list {
    display: flex;
    justify-content: center;
  }
}