@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.main_whoweare {
  
  text-align: center;
  width: vw;
  background-color: aliceblue;
  margin-bottom: .5rem;
}


.main_whoweare_main__title {

 
  color: black;
  font-size: 3rem;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'Roboto Mono', monospace;

}

.main_who_we_are_containers{
  text-align: center;
  width: 100%;
  background-color: aliceblue;
  margin-bottom: .5rem;
}

.who_we_are_container {
  width: 23%;
    float: left;
    padding:1rem;
    margin: 1rem;
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    background-color: aliceblue;
    height: 30rem;
    

}


.whoweare__button {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.whoweare__button:hover {
  background-color: #1e293b;
  color: #fff;
}