@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto+Mono:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@100&display=swap');


.main-footer {
    background-color: black;
    padding: 32px;
    margin-top: 48px;

}

.footer__container {
    display: inline-block;
    width: 100%;
}

.main-footer__title {
    text-align: center;
    color: yellow;
}

.footer_block_image {
    width: 28%;
    padding: 1px;
    display: none;
    vertical-align: top;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 16px;
    color: yellowgreen;

}

.link-footer {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 3px;
}

.link-footer:hover,
.link-footer:active {

    color: rgb(175, 169, 169);


}

@media (max-width: 40rem) {
  
    .main-footer {
        background-color: black;
        position: relative;
        left: 0;
        bottom: 0;
        border-radius: 8px;
        display: inline-block;
        
    }

    .footer__container {
        display: inline-block;
        width: 100%;
        
    }

    .main-footer__title {
        font-size: 1rem;
        color: yellow;
    }

    .footer_block_image {
        width: 28%;
        padding: 1px;
        display: inline-block;
        vertical-align: top;
    }

    .footer_block {
        width: 70%;
        padding: 1px;
        display: inline-block;
        vertical-align: top;
    }

    .logo__image_footer {

        width: 100%;
        height: auto;
        padding: 0;
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);

    }

    .footer_block_last {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        display: inline-block;
        padding: 0;
    }

    .main-footer__links {
        color: yellow;
        margin: 0;
        padding: 2px;
        text-align: left;

    }


    .main-footer__link {

        font-size: .8rem;
        margin: 0;
        padding: 2px;
        text-align: left;
        color: yellow;
        font-style: bold;

    }

}