* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../images/PublicImages/image-2.jpg");
    list-style: none;
    padding: 20px;
    width: 100%;
    color: rgb(249, 217, 12);
    text-align: center;
    position: sticky;
    vertical-align: middle;
    
}

.main-header {
    width: 100%;
    position: fixed;
    background-color: white;
    padding: 8px 16px;
    vertical-align: middle;
}

.main-header__badge{
    position: absolute;
    top: 10px;
    left: 100px;
    width: 10%;
    height: 290%;
    margin: 0;
    padding: 8px;
    color: aliceblue;
    background-image: url('../../images/uccbimages/logo.jpeg');
    font-size: 12px;
    border-radius: 8px;
    background-size: 100%;
    background-position: 0% 2%;
    background-repeat: no-repeat;
}

.main-header>div {
    display: inline-block;
}

.main-header__brand {
    color: rgb(52, 38, 38);
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    vertical-align: middle;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    border-radius: 8px;
}

.main-nav {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: calc(100% - 68px);
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.link {
    text-decoration: none;
    color: rgb(52, 38, 38);
    font-weight: bold;
    padding: 3px;
}

.link:hover,
.link:active {

    color: rgb(242, 27, 27);
    border-bottom: 2px solid rgb(242, 27, 27);

}

.main-nav__item--cta {
    text-decoration: none;
   
    background-color: rgb(52, 38, 38);
    padding: 8px 16px;
    border-radius: 8px;
}

.cta{
    color: white;
}

.main-footer{
    background-color: black;
    padding: 32px;
    margin-top: 48px;
}

.main-footer__title{
    text-align: center;
    color: rgb(255, 255, 255);
}

.main-footer__links{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link{
    display: inline-block;
    margin: 0 16px;

}

.link-footer {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 3px;
}

.link-footer:hover,
.link-footer:active {

    color: rgb(175, 169, 169);
   

}