@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto+Mono:wght@100;300&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@100&display=swap');


.header {
    display: flex;
    flex-direction: row;
    top: 0;
    background-color: rgb(213, 236, 255);
    vertical-align: middle;
    z-index: 10;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 8rem;
}

.main-header {
    width: 100%;
    vertical-align: middle;
    display: flex;
    flex-direction: row;

}

.main-header>div {
    display: inline-block;
}

.main-header__toggle {
    display: none;
    color: rgb(52, 38, 38);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    vertical-align: middle;
    margin-left: 1rem;
    width: 3%;
}

.toggle-button {
    width: 3rem;
    background: aliceblue;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    animation: wiggle 200ms 3s ease-out 8 none;
    display: none;
    flex-direction: column;

}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
}

.main-header__badge {
    width: 8%;
    height: 4rem;
    margin-left: 8rem;
}

.logo__image {
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 0.5rem;
    width: 100%;
    height: auto;

}

.main-nav {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-left: 1rem;
    width: 88%;
}

.main-nav__title {
    font-family: 'Great Vibes', cursive;
    font-size: 4rem;
    color: red;

    font-family: 'Lobster', cursive;
    font-family: 'Montserrat', sans-serif;
}

.span1{
    color: red;
}

.span2{
    color: yellow;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item__dropdown__head {
    background-color: inherit;
    color: inherit;
    font-weight: bold;

}

.main-nav__item__dropdown__head__nested {
    background-color: inherit;
    color: inherit;
    font-weight: bold;

}

.main-nav__item__dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 0.5rem 2rem 0.5rem 2rem;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    z-index: 1;
}

.main-nav__item__dropdown_content__nested {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 0.5rem 2rem 0.5rem 2rem;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    z-index: 1;
}

.main-nav__item__dropdown_content li {
    color: black;
    padding: 2px 2px;
    text-decoration: none;
    text-align: left;
    display: block;
}

.main-nav__item__dropdown_content__nested li {
    color: black;
    padding: 2px 2px;
    text-decoration: none;
    text-align: left;
    display: block;
}


.main-nav__item__dropdown_content li:hover {
    background-color: #f1f1f1;

}

.main-nav__item__dropdown_content__nested li:hover {
    background-color: #f1f1f1;


}

.main-nav__item:hover .main-nav__item__dropdown_content {
    display: block;
}

.main-nav__item:hover .main-nav__item__dropdown__head {
    background-color: yellow;
    text-decoration: underline;
}

.main-nav__item__nested:hover .main-nav__item__dropdown__head__nested {
    background-color: yellow;
    text-decoration: underline;

}

.link {
    text-decoration: none;
    color: rgb(52, 38, 38);
    font-weight: bold;
    padding: 3px;
}

.link__dropdown {
    text-decoration: none;
    color: rgb(52, 38, 38);
    font-weight: bold;
    padding: 3px;
}

.link:hover,
.link:active .mobile__link:hover,
.mobile__link:active {

    color: rgb(242, 27, 27);
    border-bottom: 2px solid rgb(242, 27, 27);

}

.main-nav__item--cta {
    text-decoration: none;
    background-color: rgb(52, 38, 38);
    padding: 8px 16px;
    border-radius: 8px;
}

.link__cta {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 3px;

}

.link__cta:hover,
.link__cta:hover {
    color: rgb(242, 27, 27);
    border-bottom: 2px solid rgb(242, 27, 27);
}

.button {
    background: #0e4f1f;
    color: white;
    font: inherit;
    border: 1.5px solid #0e4f1f;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    background: white;
    color: #0e4f1f;
}

.button:focus {
    outline: none;
}

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 70px;
    left: 10px;
    background: rgb(21, 16, 16);
    width: 30%;
    height: 20vh;
}

.mobile-nav__items {
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    padding: 0;
    text-align: left;
}

.mobile-nav__item {
    margin: 1rem 0;
}

.mobile-nav__item a {
    font-size: 1.0rem;
    color: rgb(42, 244, 45);
}

.main-footer {
    background-color: black;
    padding: 32px;
    margin-top: 48px;
}

.footer__container {
    display: inline-block;
    width: 100%;
}

.main-footer__title {
    text-align: center;
    color: yellow;
}

.footer_block_image {
    width: 28%;
    padding: 1px;
    display: none;
    vertical-align: top;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 16px;
    color: yellowgreen;

}

.link-footer {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 3px;
}

.link-footer:hover,
.link-footer:active {

    color: rgb(175, 169, 169);


}

@media (max-width: 40rem) {
    .header {
        background-color: aliceblue;
        display: flex;
    }

    .main-header__toggle {
        width: 0;
        margin: 0;
        display: none;
    }

    .main-header__badge {
        margin-left: 1rem;
    }

    .logo__image {
        display: block;
        width: 20vw;
        height: 6rem;
        padding: 0;
        margin-left: 0;
        margin-top: 8px;
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);

    }

    .main-nav {
        width: 78vw;
        text-align: center;
        margin-left: 38px;
        margin-top: 15px;
    }

    .main-nav__title {
        font-size: 1.5rem;
    }

    .main-nav__items {
        display: none;
    }

    /* Fixed sidenav, full height */
    .sidenav {
        height: 60%;
        width: 70vw;
        position: fixed;
        margin-top: 8rem;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
    }

    /* Style the sidenav links and the dropdown button */
    .dropdown-list {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;
    }

    .dropdown-list li {
        color: #04AA6D;
        list-style-type: disc;
        display: none;
    }

    /* Main content */
    .main {
        margin-left: 200px;
        /* Same as the width of the sidenav */
        font-size: 20px;
        /* Increased text to enable scrolling */
        padding: 0px 10px;
    }



    /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
    .dropdown-container {
        display: none;
        background-color: #262626;
        padding-left: 8px;
    }

    /* Optional: Style the caret down icon */
    .fa-caret-down {
        float: right;
        padding-right: 8px;
    }

    .homelink {
        padding: 3px;
        color: #262626;
        ;
    }

    .link {
        text-decoration: none;
        color: rgba(255, 255, 0, 0.6);
        padding: 3px;
    }


    .mobile-nav {
        position: relative;

        width: 90vw;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: aliceblue;
        overflow-x: hidden;
        padding-top: 10px;
    }

    .mobile-nav .mobile-nav__items {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;
    }

    .mobile-nav ul,
    .mobile-nav div {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;
    }

    /* On mouse-over */
    .mobile-nav ul:hover,
    .mobile-nav div:hover {
        color: #f1f1f1;
    }


    .mobile-nav__item__dropdown__head {
        font-weight: bold;
        font-size: 1rem;
        background-color: #04AA6D;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

    .mobile-nav__item__dropdown_content {

        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .mobile-nav__item__dropdown_content li {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        width: 100%;
    }

    .mobile-nav__item__dropdown_content Link {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .mobile-nav__item__dropdown_content li:hover {
        background-color: #ddd;
    }

    .mobile-nav__item:hover .mobile-nav__item__dropdown_content {
        display: block;
    }

    .mobile-nav__item:hover .mobile-nav__item__dropdown__head {
        background-color: #3e8e41;
    }


    .main-footer {
        background-color: black;
        position: relative;
        left: 0;
        bottom: 0;
        border-radius: 8px;
        display: inline-block;
    }

    .footer__container {
        display: inline-block;
        width: 100%;
    }

    .main-footer__title {
        font-size: 1rem;
        color: yellow;
    }

    .footer_block_image {
        width: 28%;
        padding: 1px;
        display: inline-block;
        vertical-align: top;
    }

    .footer_block {
        width: 70%;
        padding: 1px;
        display: inline-block;
        vertical-align: top;
    }

    .logo__image_footer {

        width: 100%;
        height: auto;
        padding: 0;
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);

    }

    .footer_block_last {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        display: inline-block;
        padding: 0;
    }

    .main-footer__links {
        color: yellow;
        margin: 0;
        padding: 2px;
        text-align: left;

    }


    .main-footer__link {

        font-size: .8rem;
        margin: 0;
        padding: 2px;
        text-align: left;
        color: yellow;
        font-style: bold;

    }

    @keyframes wiggle {

        from {
            transform: rotateZ(0);
        }

        50% {
            transform: rotateZ(-10deg);
        }

        to {
            transform: rotateZ(10deg);
        }

    }




}