.header {
    display: inline-block;
}

.backdrop {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    z-index: 100;
    width: 80vw;
    height: 80vh;
    background: rgba(0, 0, 0, 0.5);
}

.main-header {
    width: 100%;
    height: 4rem;
    position: fixed;
    background-color: aliceblue;
    padding: 2px;
    vertical-align: middle;
    z-index: 10;

}

.main-header>div {
    display: inline-block;
}

.main-header__toggle {
    color: rgb(52, 38, 38);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    vertical-align: middle;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin-left: 10px;
    width: 3%;


}

.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    animation: wiggle 200ms 3s ease-out 8 none;

}

.toggle-button:focus {
    outline: none;
}

.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: black;
    display: block;
    margin: 0.6rem 0;
}

.main-header__badge {
    position: absolute;
    left: 80px;
    height: 4em;

}

.logo__image {
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 0.5rem;
    width: 100%;
    height: auto;

}

.main-nav {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    width: 60%;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}


.main-nav__item__dropdown__head {
    background-color: inherit;
    color: inherit;
    font-weight: bold;

}

.main-nav__item__dropdown__head__nested {
    background-color: inherit;
    color: inherit;
    font-weight: bold;

}

.main-nav__item__dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 0.5rem 2rem 0.5rem 2rem;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    z-index: 1;
}

.main-nav__item__dropdown_content__nested {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 0.5rem 2rem 0.5rem 2rem;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    z-index: 1;
}

.main-nav__item__dropdown_content li {
    color: black;
    padding: 2px 2px;
    text-decoration: none;
    text-align: left;
    display: block;
}

.main-nav__item__dropdown_content__nested li {
    color: black;
    padding: 2px 2px;
    text-decoration: none;
    text-align: left;
    display: block;
}


.main-nav__item__dropdown_content li:hover {
    background-color: #f1f1f1;
    
}

.main-nav__item__dropdown_content__nested li:hover {
    background-color: #f1f1f1;
    
    
}

.main-nav__item:hover .main-nav__item__dropdown_content {
    display: block;
}

.main-nav__item:hover .main-nav__item__dropdown__head {
    background-color: yellow;
    text-decoration: underline;
}

.main-nav__item__nested:hover .main-nav__item__dropdown__head__nested {
    background-color: yellow;
    text-decoration: underline;
    
}

.link {
    text-decoration: none;
    color: rgb(52, 38, 38);
    font-weight: bold;
    padding: 3px;
}

.link__dropdown {
    text-decoration: none;
    color: rgb(52, 38, 38);
    font-weight: bold;
    padding: 3px;
}

.link:hover,
.link:active .mobile__link:hover,
.mobile__link:active {

    color: rgb(242, 27, 27);
    border-bottom: 2px solid rgb(242, 27, 27);

}

.main-nav__item--cta {
    text-decoration: none;
    background-color: rgb(52, 38, 38);
    padding: 8px 16px;
    border-radius: 8px;
}

.link__cta {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 3px;

}

.link__cta:hover,
.link__cta:hover {
    color: rgb(242, 27, 27);
    border-bottom: 2px solid rgb(242, 27, 27);
}



.button {
    background: #0e4f1f;
    color: white;
    font: inherit;
    border: 1.5px solid #0e4f1f;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}



.button:hover,
.button:active {
    background: white;
    color: #0e4f1f;
}



.button:focus {
    outline: none;
}

.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 70px;
    left: 10px;
    background: rgb(21, 16, 16);
    width: 30%;
    height: 20vh;
}

.mobile-nav__items {
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 10% auto;
    padding: 0;
    text-align: left;
}

.mobile-nav__item {
    margin: 1rem 0;
}

.mobile-nav__item a {
    font-size: 1.0rem;
    color: rgb(42, 244, 45);
}

.main-footer {
    background-color: black;
    padding: 32px;
    margin-top: 48px;
}

.footer__container {
    display: inline-block;
    width: 100%;
}

.main-footer__title {
    text-align: center;
    color: yellow;
}

.footer_block_image {
    width: 28%;
    padding: 1px;
    display: none;
    vertical-align: top;
}

.main-footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-footer__link {
    display: inline-block;
    margin: 0 16px;
    color: yellowgreen;

}

.link-footer {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 3px;
}

.link-footer:hover,
.link-footer:active {

    color: rgb(175, 169, 169);


}

@media (max-width: 40rem) {

    .logo__image {

        width: 40%;
        height: auto;
        padding: 0;
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);

    }

    .main-header__toggle {
        color: rgb(52, 38, 38);
        text-decoration: none;
        font-size: 1rem;
        vertical-align: middle;
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        margin-left: 10px;
        width: 3%;
        margin-top: 0;
        width: 3rem;
        background: transparent;
        border: none;
        cursor: pointer;
        vertical-align: middle;

    }

    .main-header {
        background: linear-gradient(blue, white, yellow);
    }

    .main-header .main-nav {
        width: 100%;
        height: 4rem;
        position: fixed;
        background-color: aliceblue;
        padding: 2px;
        vertical-align: middle;
        z-index: 10;
        display: none;

    }


    .main-footer {
        background-color: black;
        position: relative;
        left: 0;
        bottom: 0;
        border-radius: 8px;
        display: inline-block;
    }

    .footer__container {
        display: inline-block;
        width: 100%;
    }

    .main-footer__title {
        font-size: 1rem;
        color: yellow;
    }

    .footer_block_image {
        width: 28%;
        padding: 1px;
        display: inline-block;
        vertical-align: top;
    }

    .footer_block {
        width: 70%;
        padding: 1px;
        display: inline-block;
        vertical-align: top;
    }

    .logo__image_footer {

        width: 100%;
        height: auto;
        padding: 0;
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);

    }

    .footer_block_last {
        width: 100%;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        display: inline-block;
        padding: 0;
    }

    .main-footer__links {
        color: yellow;
        margin: 0;
        padding: 2px;
        text-align: left;

    }


    .main-footer__link {

        font-size: .8rem;
        margin: 0;
        padding: 2px;
        text-align: left;
        color: yellow;
        font-style: bold;

    }

    @keyframes wiggle {

        from {
            transform: rotateZ(0);
        }

        50% {
            transform: rotateZ(-10deg);
        }

        to {
            transform: rotateZ(10deg);
        }

    }




}